/* Custom styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    margin: 0;
    padding: 0;
}
.container-fluid {
    padding: 0; /* Adjusted padding */
}
.top-bar {
    background-color: #343a40; /* Dark grey */
    color: #ffffff; /* White text */
    height: 50px; /* Same height as the footer */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adjusted */
    padding: 0 20px;
    width: 100%; /* Full width */
}
.login-button {
    background-color: #007bff; /* Blue login button */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px; /* Width of the button */
    height: 40px; /* 75% of the height of the top bar */
    position: fixed;
    right: 50px;
}
.login-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
.footer {
    background-color: #343a40; /* Dark grey */
    color: #ffffff; /* White text */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar {
    position: fixed;
    left: 0;
    top: 50px; /* Adjusted top position */
    bottom: 0;
    background-color: #f0f0f0; /* Light grey background color */
    padding: 20px;
    width: 350px; /* 100px wider than before */
    height: calc(100vh - 50px); /* Adjusted height */
}

.climbing-conditions-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Add margin between boxes */
}
.climbing-conditions-section h3 {
    text-align: center;
    margin-bottom: 20px;
}
select, button {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button[type="button"] {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
}
button[type="button"]:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
#graph-container {
    margin-top: 20px;
}
.current-conditions {
    background-color: #ffffff;
    color: #343a40;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}
.current-conditions-header {
    background-color: #343a40;
    color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 20px;
}
.current-conditions-header h5 {
    text-align: center;
    margin: 0;
}
.current-conditions-body {
    padding: 20px;
}
.current-conditions-body hr {
    margin: 10px 0;
    border-color: #343a40;
}
.current-conditions-body .info-container {
    display: flex;
    justify-content: space-between;
}
.current-conditions-body .info-container .column {
    flex: 1;
    padding: 0 5px;
}
.current-conditions-body .info-container .column:first-child {
    padding-right: 5px;
}
.current-conditions-body .info-container .column:last-child {
    padding-left: 5px;
    border-left: 1px solid #343a40;
}